body {
    font-family: "Baloo Thambi 2";
}

.date-picker {
    float: left;
    text-align: left;
}

.mrg-top {
    margin-top: '40px';
}

.url-page {
    margin-bottom: 30px;
    border-radius: 1.1rem;    
    color: rgb(205, 255, 253);
    background-image: linear-gradient(120deg, rgb(87, 81, 145) 0%, rgb(192, 75, 71) 100%);
}

.legend {
    margin: '40px';
    border-radius: 1.1rem;
    color: rgb(240, 214, 255);
    background-image: linear-gradient(120deg, rgb(85, 161, 190) 0%, rgb(84, 175, 42) 100%);
}