body {
    font-family: "Baloo Thambi 2";
    width:100%;
}

.mrg-btm {
    margin-bottom: 1.5rem;
}

.url-page {
    margin-top: 20%;
    margin-bottom: 15px;
    border-radius: 1.1rem;
    border: transparent;    
    color: gray;
    background-color: lightgray;
}
.legend {
    margin: '40px';
    border-radius: 1.3rem;
    border: transparent;    
    color: rgb(239, 241, 243);
    background-image: linear-gradient(120deg, rgb(85, 161, 190) 0%, rgb(84, 175, 42) 100%);
}
    
.line-chart {
    grid: 1.5rem;
}

.right-align { 
    text-align: right;
}

.margin-top {
    margin-top: 50px;
}

.margin-right {
    margin-right: 40px;
}

.float-right {
    float:right;
}

.margin-bottom{
    margin-bottom: 20px;
}